{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="row" id="home-overlay">

    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias aliquam aut blanditiis dicta, enim, fugiat
        fugit harum incidunt itaque libero minus mollitia nam omnis pariatur possimus praesentium quae qui quia soluta
        tenetur vitae. Debitis ducimus, illo incidunt iste laudantium minus molestiae nemo veritatis voluptas
        voluptatibus! Aut, commodi consequatur eos incidunt ipsum mollitia necessitatibus neque, nobis officiis quam
        rerum saepe sunt voluptatum. Ab aut consequuntur dicta ea error est et eum explicabo facere facilis illum
        impedit iste, labore magnam maiores minus necessitatibus nesciunt officia perferendis perspiciatis praesentium
        quidem quod rerum sed ullam ut vero. A accusamus adipisci asperiores consectetur dolore doloribus dolorum esse
        facilis fugiat, ipsum laudantium molestias quas quisquam saepe sapiente sint temporibus. Ad aliquam aperiam
        aspernatur atque blanditiis corporis, dolore dolores eius eligendi exercitationem explicabo fuga fugiat harum
        illum in ipsa magnam molestiae mollitia nesciunt nobis odio officiis pariatur perspiciatis porro quas qui rem
        sed sequi sint voluptate? Ipsa, itaque labore nulla pariatur praesentium quae voluptatum. Aliquam aspernatur
        beatae corporis ea earum, eligendi id modi molestiae officia omnis, optio quisquam sit vitae. Maiores maxime
        saepe voluptas. Blanditiis, cumque dolorem doloremque esse expedita facilis fuga illum nesciunt, nulla, numquam
        odio placeat quas quasi quod ut veritatis vitae voluptates! At, numquam, obcaecati! Consectetur eum officiis
        sapiente! Consequuntur debitis facilis provident ullam voluptates. Accusamus at aut beatae consectetur deleniti
        dolores earum excepturi expedita facere facilis fugiat illum in ipsa laborum maxime nostrum numquam obcaecati
        odio omnis perspiciatis, possimus quod rem repudiandae rerum sequi, similique sint tempora ullam unde vero.
        Aliquid architecto aspernatur corporis cum delectus error hic molestiae, nihil nostrum possimus quis quod,
        reprehenderit sequi sint sit tenetur ut! Architecto, assumenda doloribus, earum eum itaque laborum maxime
        obcaecati quisquam quos soluta sunt suscipit totam voluptas? Ab aut cumque deleniti est, laudantium repudiandae
        ullam! Ducimus harum porro repellendus voluptates. Autem error esse, et maiores nulla possimus quos recusandae
        reiciendis veniam vitae? A consectetur deleniti eum nam natus neque, numquam unde veniam. Consequatur distinctio
        dolor explicabo inventore ipsam numquam possimus. Adipisci amet architecto autem beatae corporis cum dicta
        dolore dolorem ducimus eaque eum fugiat, inventore iste iusto labore laboriosam magnam magni mollitia nam natus
        neque nisi nobis odit officiis perferendis praesentium quam quibusdam quidem quisquam quod rem repellendus
        sapiente sunt unde velit vero voluptatibus! Aliquam assumenda commodi consequatur deleniti dolor eaque et eum
        excepturi explicabo facere fuga fugiat, harum illum iste laborum minus necessitatibus nemo obcaecati odit
        perferendis possimus quam quas, qui quo reprehenderit repudiandae saepe, sed sequi soluta tempora vel veniam
        voluptate voluptatibus! Aliquam blanditiis, consectetur cupiditate ducimus ea, eius, eum exercitationem hic
        laborum maxime nobis odio pariatur provident quaerat quasi quos ratione repudiandae rerum similique vero. Ab,
        architecto consequatur eveniet facere magnam magni nam nulla odit sed. Beatae ducimus explicabo illum modi,
        molestiae perspiciatis quae quisquam sed sit tempore vitae voluptatum! A aliquid deleniti dolor, eos excepturi
        fuga fugit ipsa laboriosam molestiae nemo perferendis possimus quas repellat sint sunt unde voluptatem. A,
        aliquam asperiores cupiditate eligendi error eveniet fugit hic nemo nihil, officia omnis perferendis quas qui
        repellendus, totam. Nesciunt.
    </div>
{% endblock %}