{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <section class="row home-overlay">
        <div class="col m-auto">
            <div>
                <h3 class="title-h3">
                    Abonnement IPTV
                </h3>
                <hr>
            </div>
            <div>
                <h1 class="title-h1--bigger">Bienvenue sur LaBoutique IPTV</h1>
            </div>
            <div>
                <p class="p-primary">Le plus grand fournisseur de chaines IPTV et Films VOD francophones et
                    internationnaux sur le marché.</p>
                <p class="p-primary">LaBoutique IPTV vous permet de regarder les dernières sortie films et séries avec
                    une qualité supérieure.</p>
            </div>
            <div>
                <button class="btn btn-primary">
                    Nos offres
                </button>
            </div>
        </div>
    </section>
    <section class="row how-it-works">
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-12">
                    <h1 class="title-h1">
                        Comment ça fonctionne ?
                    </h1>
                </div>
            </div>
            <div class="row">


                <div class="col-md-3">
                    <h2 class="title-h2">Abonnement</h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
                <hr>
                {# <div class="col-md-1 hv"></div> #}
                <div class="col-md-3">
                    <h2 class="title-h2">
                        Installation
                    </h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
                {# <div class="col-md-1 hv"></div> #}
                <hr>
                <div class="col-md-3">
                    <h2 class="title-h2">
                        Profitez-en
                    </h2>
                    <p class="p-default">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet consectetur culpa,
                        dolores,
                        earum hic id ipsa ipsam magnam maxime minus modi nihil numquam placeat, quasi recusandae
                        repellendus
                        sint voluptatem!
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}