{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
    <div class="row home-overlay">
        <div class="col m-auto">
            <div>
                <h3 class="title-h3">
                   Abonnement IPTV 1
                </h3>
                <hr>
            </div>
            <div>
                <h1 class="title-h1">Bienvenue che LaBoutique IPTV</h1>
            </div>
            <div>
                <p class="p-primary">Le plus grand fournisseur de chaines IPTV et Films VOD francophones et internationnaux sur le marché.</p>
                <p class="p-primary">LaBoutique  IPTV vous permet de regarder les dernières sortie films et séries avec une qualité supérieure</p>
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}